*{
    padding: 0;
    margin: 0;
}
.border-sample{
    border: thin solid white;
}
header{
    background-color: #fd0606;
    color: #fdfafa;
    font-size: 24pt;
    padding: 20px;
}
body{
    font-family: 'New Tegomin', sans-serif;
    color: #111111;
    font-size: 16pt;
}
footer{
   background-color: #f50606;
   color: rgb(252, 249, 248);
   font-size: 16pt;
}
.container{
   padding: 20px;
}
h1{
   margin-bottom: 20px;
}
.content{
    margin-bottom: 30px;
    text-align: justify;
}
p{
    margin-bottom: 10px;
}
section{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    width:250px;
    background-color: rgb(255, 9, 9)
}
.section-container{
    display: flex;
   justify-content: space-evenly;
}